/* Richard Davies, Data Science for Economists */

/* This is my second proper css file */


/* Import a font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


/* Set the background color for my page: */
body{
    background-color: rgb(35,77,32);
 
}


/* Choose the appearance of the tags, h1, h3 and p: */
h1, h3, p{
    color:rgb(119,171,89);
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
    
.myWeek1{
    margin: auto;
    max-width: 600px;
    background-color: #f0f7da;

    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    border-color: #77ab59;
}


/* Set the apperance of the class, chart */
.chart{
    background-color: #c9df8a;
    width: 450px;
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    border-color: #36802d;
}
    
#Chart1{
    border-color: #234d20;
}